<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label"><i class="fa fa-list-alt fa-fw"></i>資料管理</span> <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li class="dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">A.基本資料管理</span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("A01.員工基本資料維護", "List", "Member")</li>
                <li>@Html.ActionLink("A01.員工基本資料維護", "List", "Member")</li>
                <li>@Html.ActionLink("A01.員工基本資料維護", "List", "Member")</li>
                <li>@Html.ActionLink("A01.員工基本資料維護", "List", "Member")</li>
                <li>@Html.ActionLink("A01.員工基本資料維護", "List", "Member")</li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">B.權限設定管理</span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("B01.員工權限設定維護", "List", "Member")</li>
                <li>@Html.ActionLink("B01.員工權限設定維護", "List", "Member")</li>
                <li>@Html.ActionLink("B01.員工權限設定維護", "List", "Member")</li>
                <li>@Html.ActionLink("B01.員工權限設定維護", "List", "Member")</li>
                <li>@Html.ActionLink("B01.員工權限設定維護", "List", "Member")</li>
            </ul>
        </li>
        <li class="submenu-item">
            <a href="#">C.資料定時備份</a>
        </li>
    </ul>
</li>